:root{
  --primary: #34495e;
  --default-trans: all 0.3s ease-out;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,ol{
  list-style: none;
}

a:hover{
  text-decoration: none !important;
}

/*Section Padding*/
.section-padding{
  padding-top: 100px;
  padding-bottom: 100px;
}

/*Section Header*/
.section-header{
  text-align: center;
  margin-bottom: 50px;
}

/*Nav*/
nav {
  padding: 0;
  margin: 0;
}

#desktop-nav {
  background-color: #222831;
}

.container-fluid {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#desktop-nav .nav-left {
  display: flex;
  align-items: center;
}

#desktop-nav .nav-left ul {
  display: flex;
  align-items: center;
  margin-left: 20px;
  margin-bottom: 0;
  padding-bottom: 0;
}

#desktop-nav .nav-left ul li {
  position: relative;
}

#desktop-nav .nav-left ul li::after {
  width: 100%;
  content: "";
  height: 5px;
  background-color: #00bcd4;
  position: absolute;
  bottom: -5px;
  left: 0;
  opacity: 0;
  transition: var(--default-trans);
}

#desktop-nav .nav-left ul li:hover::after {
  opacity: 1;
}

#desktop-nav .nav-left ul li a {
  display: inline-block;
  padding: 20px;
  color: #FFF;
  font-weight: bold;
}

.nav-left .navbar-brand img {
  width: 40px;
}

.nav-left .navbar-brand {
  padding-left: 30px;
}

.nav-left .navbar-brand img:hover {
  opacity: 0.8;
}

#desktop-nav .nav-right ul {
  display: flex;
  margin-bottom: 0;
  padding-bottom: 0;
}

#desktop-nav .nav-right ul li a {
  display: flex;
  padding: 20px;
  padding-bottom: 10px;
  color: #FFF;
  font-weight: bold;
}

#desktop-nav .nav-right ul li a i {
  margin-top: 5px;
}

#desktop-nav .nav-right ul li:nth-child(1) {
  margin-right: 20px;
}

#desktop-nav .nav-right ul li:nth-child(1) a:hover{
  opacity: 0.8;
}

#desktop-nav .nav-right ul li:nth-child(2) a{
  border: 2px solid #FFF;
  transition: var(--default-trans);
}

#desktop-nav .nav-right ul li:nth-child(2) a:hover{
  background-color: #fff;
  color: #222831;
}

#desktop-nav .nav-right ul li a p {
  margin-left: 10px;
}

.toggle span {
  position: relative;
  width: 36px;
  height: 4px;
  background-color: #fff;
  display: block;
  margin-bottom: 8px;
  transition: var(--default-trans);
}

.mobile-nav {
  background-color: #222831;
  display: none;
  z-index: 9;
  position: relative;
}

.mobile-nav .container-fluid {
  padding-right: 0;
}

.toggle span:nth-child(1){
  transform-origin: left;
}

.toggle span:nth-child(2){
  transform-origin: center;
}

.toggle span:nth-child(3){
  transform-origin: left;
}

.toggle {
  padding: 15px;
  position: relative;
}

.toggle.active {
  background-color: #00bcd4;
}

.toggle.active .span-container {
    position: relative;
  left: 3px;
}

.toggle.active span:nth-child(1){
  transform: rotate(45deg);
  left: 2px;
}

.toggle.active span:nth-child(2){
  transform: rotate(315deg);
  right: 3px;
}

.toggle.active span:nth-child(3){
  transform: scaleX(0);
}

.mobile-main-nav {
  background-color: rgba(34, 40, 49, 0.9);
  width: 90%;
  height: 100%;
  position: fixed;
  top: 0;
  right: -1000px;
  display: none;
  z-index: 8;
  padding-top: 100px;
  transition: var(--default-trans);
}

.mobile-main-nav.active {
    right: 0;
}

.mobile-main-nav .nav-top {
  padding: 10px;
}

.mobile-main-nav .nav-top ul li a {
  color: #FFF;
  font-weight: bold;
  padding: 10px;
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid #FFF;
}
.mobile-main-nav .nav-top ul li a:active{
  color: #00bcd4;
}

.nav-bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
}

.nav-bottom ul {
  margin-bottom: 0;
  padding-bottom: 0;
}

.nav-bottom ul li a {
  width: 100%;
  display: flex;
  padding: 20px;
  padding-bottom: 10px;
  color: #FFF;
  font-weight: bold;
}

.nav-bottom ul li a i {
  padding-top: 5px;
}

.nav-bottom ul li a p {
  margin-left: 10px;
}

.nav-bottom ul li:nth-child(2) a{
  background-color: #00bcd4;
  transition: var(--default-trans);
  color: #FFF;
}

.nav-bottom ul li:nth-child(2) a:active{
  opacity: 0.8;
}

@media (min-width: 768px) and (max-width: 1024px) {
  #desktop-nav ul li a {
    font-size: 0.75rem;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  #desktop-nav {
    display: none;
  }
  
  .mobile-nav, .mobile-main-nav {
  display: block;
}
}

/*Product Item*/
.product-item {
  margin-bottom: 20px;
}

.product-item a {
  text-decoration: none;
}

.product-item img {
  width: 100%;
  height: 250px;
  position: relative;
  display: block;
}

.product-image {
    position: relative;
}

.product-item .product-image::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  background-color: rgba(0,0,0,0.4);
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: all 0.3s ease;
}

.product-item:hover .product-image::after {
  opacity: 1;
}

.product-content {
  margin-top: 10px;
}

.product-item h4 {
  color: #FFF;
  font-weight: normal;
  margin-bottom: 10px;
  font-size: 1.2em;
}

.product-item h5 {
  color: #FFF;
  opacity: 0.7;
  font-weight: normal;
}

.product-item h3 {
  color: #FFF;
  margin-top: 20px;
  font-size: 1.3em;
}

.cart-product-img{
  width: 100px;
}

.cart-button-list {
  display: flex;
  justify-content: space-evenly;
}

.cart-button-list li {
  margin-bottom: 10px;
}

form div.row{
  margin-bottom: 20px;
}

footer{
  background-color: #000;
}

footer ul li{
  margin-bottom: 10px;
}

footer ul li a{
  color: #FFF;
}

footer ul li a:hover{
  color: #FF0000;
}

.footer-item h4{
  font-size: 1.2rem;
  color: #FFF;
  margin-bottom: 30px;
}

.order-item{
  margin-bottom: 30px;
}

.order-item .card{
  min-height: 200px;
}

.order-item .card .card-body{
  flex-direction: column;
  justify-content: space-between;
  display: flex;
}

.pagination{
  display: flex;
  justify-content: center;
}

.search-form-container{
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 30px;
  border: 1px solid rgb(190, 190, 190);
}

.genre-list{
  list-style-type: disc;
  margin-left: 50px;
  display: block;
}

.genre-list li {
  flex: 100% !important;
  max-width: 100% !important;
  margin-bottom: 0 !important;
}

/*Product Details*/
.movie-details-section-header {
  position: sticky;
  top: 20px;
}

.movie-details-section-header h2 {
  font-size: 1.2em;
  font-weight: bold;
  color: #FFF;
}

/*Primary Style*/

/*Main*/
main {
  padding-top: 0;
  padding-bottom: 50px;
  background-color: #FFF;
  min-height: 100vh;
}

main section.section-padding {
  padding-top: 0;
  padding-bottom: 0;
}

main section .container {
  border-bottom: 1px solid #0074e3;
  padding-top: 50px;
  padding-bottom: 50px;
}

main section:nth-child(1) .container,
main section:last-child .container {
  border-bottom: none;
}

/*Trailer*/
#trailer .container {
  max-width: 1080px;
}

#trailer .container iframe {
  height: 500px !important;
}

/*Small About*/
#small-about .container {
  display: flex;
  color: var(--text-color-white);
}

#small-about .section-left {
  flex: 20%;
  max-width: 20%;
}

#small-about .section-center {
  flex: 60%;
  max-width: 60%;
  padding-left: 20px;
  padding-right: 20px;
  color: #FFF;
}

#small-about .section-right {
  flex: 20%;
  max-width: 20%;
  padding-top: 0;
}

.movie-details-utils ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.movie-details-utils ul li button {
  padding: 15px 20px;
  background-color: var(--primary);
  color: #FFF;
}

.movie-details-utils ul li {
  width: 100%;
}

.movie-details-utils ul li button {
  width: 100%;
}

/*Big About*/
#big-about .container {
  display: flex;
  color: #FFF;
}

#big-about .section-left {
  flex: 20%;
  max-width: 20%;
}

#big-about .section-right {
  flex: 80%;
  max-width: 80%;
}

.movie-details-container ul {
  display: flex;
  flex-wrap: wrap;
}

.movie-details-container ul li {
  flex: 33%;
  max-width: 33%;
  margin-bottom: 20px;
}

.movie-details-container ul li h5 {
  font-size: 1.1em;
  color: var(--text-color-grey);
  margin-bottom: 5px;
}

.movie-plot-container {
  margin-top: 20px;
}

/*Responsive*/
@media screen and (min-width: 320px) and (max-width: 767px) {

  .movie-details-default-section .container {
    flex-wrap: wrap;
  }

  .movie-details-default-section .container > div {
    flex: 100% !important;
    max-width: 100% !important;
  }
  
  .movie-details-default-section .container div.section-left {
    text-align: center;
    margin-bottom: 30px;
    font-size: 1.5em;
  }

  .movie-details-default-section .container div.section-center {
    text-align: center;
    margin-bottom: 20px;
  }

  /*Small About*/
#small-about .section-center {
  padding-left: 0;
  padding-right: 0px;
}
  
  /*Big About*/
  .movie-details-container ul li {
  flex: 50%;
  max-width: 50%;
}

}

@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .movie-item .movie-poster-box img {
    height: 350px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .movie-item {
    flex: 45%;
    max-width: 45%;
  }
  
  /*Small About*/
#small-about .section-center {
  flex: 55%;
  max-width: 55%;
}

#small-about .section-right {
  flex: 25%;
  max-width: 25%;
}
}

.pagination-container {
  text-align: center;
  width: 100%;
}

.pagination-container nav {
  margin-left: auto;
  margin-right: auto;
}

.home-container {
  padding-top: 50px;
  padding-bottom: 30px;
  background-color: #121212;
  border-bottom: 5px solid #0074e3;
}

.home-container .row {
  justify-content: space-between;
}

.product-container {
  flex: 70%;
  max-width: 70%;
}

.search-container {
  flex: 28%;
  max-width: 28%;
}

.search-container form {
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
}

form label {
  color: #FFF !important;
}

form input,
form select {
  background-color: #202020 !important;
  color: #FFF !important;
  border: none !important;
  border-radius: 0px !important;
  outline: none !important;
  box-shadow: none !important;
}

form input:focus {
  background-color: #FFF !important;
  color: #202020 !important;
}

.product-details {
  background-color: #121212;
  border-bottom: 5px solid #0074e3;
}

.watch-button {
  border: none;
}

.cart, .login, .signup, .checkout, .profile {
  background-color: #121212;
  border-bottom: 5px solid #0074e3;
}

.cart table {
  color: #FFF;
}

.cart h1 {
  color: #FFF;
}


