:root{
  --primary: #34495e;
  --default-trans: all 0.3s ease-out;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,ol{
  list-style: none;
}

a:hover{
  text-decoration: none !important;
}

/*Section Padding*/
.section-padding{
  padding-top: 100px;
  padding-bottom: 100px;
}

/*Section Header*/
.section-header{
  text-align: center;
  margin-bottom: 50px;
}

#about{
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.8);
}

.centralize{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.feature-item{
  text-align: center;
  filter: grayscale(1);
  transition: var(--default-trans);
}

.feature-item:hover {
  filter: grayscale(0);
}

.home-banner{
  position: relative;
  background-size: cover;
  background-image: 
  linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
  url("/img/banner-img-1.jpg");
  height: 70vh;
  background-position: bottom;
}

.banner-content{
  color: #FFF;
}

.product-item .card{
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-item .card{
  margin: auto;
}

.product-item .card img{
  height: 300px;
}

.product-item{
  margin-bottom: 20px;
}

.cart-product-img{
  width: 100px;
}

.cart-button-list li {
  margin-bottom: 10px;
}

form div.row{
  margin-bottom: 20px;
}

footer{
  background-color: #000;
}

footer ul li{
  margin-bottom: 10px;
}

footer ul li a{
  color: #FFF;
}

footer ul li a:hover{
  color: #FF0000;
}

.footer-item h4{
  font-size: 1.2rem;
  color: #FFF;
  margin-bottom: 30px;
}

.order-item{
  margin-bottom: 30px;
}

.order-item .card{
  min-height: 200px;
}

.order-item .card .card-body{
  flex-direction: column;
  justify-content: space-between;
  display: flex;
}

.pagination{
  display: flex;
  justify-content: center;
}

